language: android
jdk: oraclejdk8

env:
  global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3
    - EMULATOR_API_LEVEL=28
    - ADB_INSTALL_TIMEOUT=8 # minutes (2 minutes by default)

android:
  components:
    - tools
    - platform-tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    - android-$EMULATOR_API_LEVEL
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-android-m2repository
    - extra-google-m2repository
    # Specify at least one system image
    #- sys-img-armeabi-v7a-android-$EMULATOR_API_LEVEL
    #- sys-img-x86-android-$EMULATOR_API_LEVEL

  licenses:
    - '.+'

before_script:
  # Create and start emulator
  #- echo no | android create avd --force -n test -t android-$EMULATOR_API_LEVEL --abi x86 #armeabi-v7a
  #- emulator -avd test -no-skin -no-audio -no-window &
  #- android-wait-for-emulator
  #- adb shell input keyevent 82 &

script:
  #- echo $ADB_INSTALL_TIMEOUT
  #- android list target
  #- ./gradlew connectedAndroidTest
  - ./gradlew assembleAndroidTest